<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,
				  minimum-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <title>.::Lightning::. Make Music on Linux Lightning Fast!</title>
  <link rel="shortcut icon" type="image/x-icon"
	href="assets/images/favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Coming+Soon"
	rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css"
	href="assets/style/reset.css">
  <link rel="stylesheet" type="text/css"
	href="assets/style/lightning.css">
  <link rel="stylesheet" type="text/css" media="all"
	href="assets/style/jquery.fs.scroller.css">

  <script type="text/template" id="sample-trigger-template">
    <button class="sample-trigger" id="<%= path %>"><%= path %></button>
  </script>

  <script type="text/template" id="transport-template">
   <button id="transport-start"></button>
   <button id="transport-stop"></button>
  </script>

  <script type="text/template" id="sample-trigger-template">
    <button class="sample-trigger" id="<%= path %>"><%= path %></button>
  </script>

  <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="lodash.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="jquery.fs.scroller.min.js">
  </script>
  <script type="text/javascript" src="ws.js"></script>
  <script type="text/javascript" src="lightning.js"></script>
  <script type="text/javascript" src="templates.js"></script>
  <script type="text/javascript" src="models.js"></script>
  <script type="text/javascript" src="views.js"></script>
  <script type="text/javascript" src="sequencer.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>

<body>
  <div id="app">

    <div class="content">
      <h1>Lightning</h1>
      <div class="samples">
      	<div class="reverse"></div>
      	<div id="sample-triggers">
      	  <!-- Samples go here -->
      	  <ul class="sampleList">
      	    <li class="violin"></li>
      	    <li class="cat"></li>
      	    <li class="cow"></li>
      	    <li class="guitar"></li>
      	    <li class="gong"></li>
      	    <li class="duck"></li>
      	    <li class="drum"></li>
      	    <li class="triangle"></li>
      	    <li class="dog"></li>
      	    <li class="pig"></li>
      	    <li class="sheep"></li>
      	    <li class="piano"></li>
      	    <li class="crow"></li>
      	    <li class="beep"></li>
      	    <li class="mouthHarp"></li>
      	    <li class="squeek"></li>
      	  </ul>
      	</div>
      	<div class="forward"></div>
      </div>

      <div class="stage">
        <div class="staff-lines" style="width: 1460px;">
          <span id="leger-line-1" class="leger-line"></span>
          <span id="leger-line-2" class="leger-line"></span>
          <span id="staff-line-1" class="staff-line"></span>
          <span id="staff-line-2" class="staff-line"></span>
          <span id="staff-line-3" class="staff-line"></span>
          <span id="staff-line-4" class="staff-line"></span>
          <span id="staff-line-5" class="staff-line"></span>
          <span id="leger-line-3" class="leger-line"></span>
          <span id="leger-line-4" class="leger-line"></span>
        </div>

        <div class="cursor"></div>
        <div id="sequencer-input" class="staff" measures="9"
            style="width: 1510px;">
          <div class="measure" id="measure001">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure002">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure003">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure004">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure005">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure006">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure007">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure008">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
          <div class="measure" id="measure009">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>

          <div class="addMeasure">
            <span></span>
          </div>
        </div>

        <script type="text/template" id="measure-template">
          <div class="measure" id="<%= measureId %>">
            <div class="beat-1"></div>
            <div class="beat-2"></div>
            <div class="beat-3"></div>
          </div>
        </script>
      </div>

      <div class="controls">
      	<div class="mediaControls">
      	  <div class="play"            id="play">Play</div>
      	  <div class="stop toggle"     id="stop">Stop</div>
      	  <div class="loop"            id="loop">Loop</div>
      	  <div class="erase btnShadow" id="erase">Erase</div>
      	</div>
      	<div class="timingControls">
      	  <div class="bpm btnShadow" id="bpm"></div>
      	  <div class="timeSignature btnShadow">
      	    <div class="threeFour toggle" id="3_4"></div>
      	    <div class="fourFour"         id="4_4"></div>
      	  </div>
      	</div>
      </div>
      <div class="bottom">
      	<div class="saveBox">
      	  <div class="files">
      	    <ul>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li class="selected">Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	      <li>Song Name</li>
      	    </ul>
      	  </div>
      	  <div class="saveButtons">
      	    <button class="save" id="save">Save</button>
      	    <button class="saveAs" id="saveAs">Save As</button>
      	    <button class="delete" id="delete">Delete</button>
      	  </div>
      	  <form id="newSong" class="newSong">
      	    <input type="text" id="songName" class="songName">
      	    <input type="submit" id="new" class="new" value="new">
      	  </form>
      	</div>
      </div>

      <p class="footer">
	<em>Lightning</em>Make music on Linux lightning fast!<br />
	v<span class="version" id="version">X.X</span>
	rev<span class="revision" id="revision">xxx</span>
      </p>

    </div>

  </div>
  <div id="mouse-sample"></div>
  <script type="text/template" id="live-sample-template">
    <span class="liveSample <%= sampleName %>" style="margin: <%= sampleMargins %>"></span>
  </script>
</body>
</html>
