<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, 
				  minimum-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <title>.::Lightning::. Make Music on Linux Lightning Fast!</title>
  <link rel="shortcut icon" type="image/x-icon" 
	href="assets/images/favicon.ico" />
  <link href="http://fonts.googleapis.com/css?family=Coming+Soon" 
	rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" 
	href="assets/style/reset.css"></link>
  <link rel="stylesheet" type="text/css" 
	href="assets/style/lightning.css"></link>

  <script type="text/template" id="sample-trigger-template">
    <button class="sample-trigger" id="<%= path %>"><%= path %></button>
  </script>

  <script type="text/template" id="transport-template">
   <button id="transport-start"></button>
   <button id="transport-stop"></button>
  </script>

  <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="lodash.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="lightning.js"></script>
  <script type="text/javascript" src="templates.js"></script>
  <script type="text/javascript" src="models.js"></script>
  <script type="text/javascript" src="views.js"></script>
  <script type="text/javascript" src="sequencer.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>

<body>
  <div id="app">

    <h1>Lightning</h1><br/>

    <div class="samples">
      <div class="reverse"></div>
      <div id="sample-triggers">
	Samples go here
      </div>
      <div class="forward"></div>
    </div>
    
    <div class="stage">
      <canvas id="sequencer-input" width="1200" height="300">
      </canvas>
    </div>

    <div class="controls">
      <div class="mediaControls">
	<div class="play"            id="play">Play</div>
	<div class="stop toggle"     id="stop">Stop</div>
	<div class="loop"            id="loop">Loop</div>
	<div class="erase btnShadow" id="erase">Erase</div>
      </div>
      <div class="timingControls">
	<div class="timeSignature btnShadow">
	  <div class="threeFour toggle" id="3_4"></div>
	  <div class="fourFour"         id="4_4"></div>
	</div>
	<div class="bpm btnShadow" id="bpm"></div>
      </div>
    </div>
    <div class="bottom">
      <div class="saveBox">
	<div class="files">
	  <ul>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li class="selected">Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	    <li>Song Name</li>
	  </ul>
	</div>
	<div class="saveButtons">
	  <button class="save" id="save">Save</button>
	  <button class="saveAs" id="saveAs">Save As</button>
	  <button class="delete" id="delete">Delete</button>
	</div>
	<form id="newSong" class="newSong">
	  <input type="text" id="songName" class="songName">
	  <input type="submit" id="new" class="new" value="new">
	</form>
      </div>
    </div>

    <canvas id="lightning-app" width="1200" height="300">
    </canvas>
    <br/>

    <div id="transport-controls">
    </div>

    <p class="footer">
      <em>Lightning</em>Make music on Linux lightning fast!<br />
      v<span class="version" id="version">X.X</span>
      rev<span class="revision" id="revision">xxx</span>
    </p>

  </div>
</body>

</html>
