<div id="lightning" data-setup-lightning>
    <!-- begin #content -->
    <div class="content" id="content">
        <h1>Lightning</h1>
        <div class="samples" data-ng-include="template.sampleNav"></div>
        <!-- begin .stage -->
        <div class="stage">
            <div class="staff-lines" style="width: 1919px;">
                <span id="leger-line-1" class="leger-line"></span>
                <span id="leger-line-2" class="leger-line"></span>
                <span id="staff-line-1" class="staff-line"></span>
                <span id="staff-line-2" class="staff-line"></span>
                <span id="staff-line-3" class="staff-line"></span>
                <span id="staff-line-4" class="staff-line"></span>
                <span id="staff-line-5" class="staff-line"></span>
                <span id="leger-line-3" class="leger-line"></span>
                <span id="leger-line-4" class="leger-line"></span>
            </div>
            <div class="cursor" data-cursor="true"></div>
            <div id="sequencer-input" class="staff" style="width: 1969px;" data-sequencer-input>
                <div class="measure" id="measure00{{ $index }}" ng-repeat="n in [] | range:(measureCount)">
                    <div class="beat-1"></div>
                    <div class="beat-2"></div>
                    <div class="beat-3"></div>
                    <div class="beat-4"></div>
                </div>
                <div class="extraMeasures" id="extraMeasures"></div>
                <div class="addMeasure" id="addMeasure">
                    <span></span>
                </div>
            </div>
        </div>
        <!-- end .stage -->
        <!-- begin .controls -->
        <div class="controls">
            <div class="mediaControls" id="mediaControls">
                <div class="play playable"   id="play" data-play-sequence>Play</div>
                <div class="stop toggle"     id="stop">Stop</div>
                <div class="loop playable"   id="loop" data-play-sequence>Loop</div>
                <div class="erase btnShadow" id="erase" data-erase-note>Erase</div>
                <div id="timeSignature" class="timeSignature btnShadow">
                    <div class="threeFourImg"></div>
                    <div class="fourFourImg toggle"></div>
                    <div class="three-four" id="3_4" data-update-time-sig="3"><div></div></div>
                    <div class="four-four"  id="4_4" data-update-time-sig="4"><div></div></div>
                </div>
            </div>
            <div class="timingControls">
                <div class="bpm btnShadow" id="bpm">
                    <input type="range" min="60" max="240" value="120" id="bpmRange" data-update-bpm>
                    <div class="bpmValue">
                        <input type="text" id="totalBPM" value="120" disabled class="totalBPM">
                        bpm
                    </div>
                </div>
            </div>
        </div>
        <!-- end .controls -->
        <div class="bottom">
            <div class="saveBox">
                <div class="files">
                    <ul>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li class="selected">Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                        <li>Song Name</li>
                    </ul>
                </div>
                <div class="saveButtons">
                    <button class="save" id="save">Save</button>
                    <button class="saveAs" id="saveAs">Save As</button>
                    <button class="delete" id="delete">Delete</button>
                </div>
                <form id="newSong" class="newSong">
                    <input type="text" id="songName" class="songName">
                    <input type="submit" id="new" class="new" value="new">
                </form>
            </div>
        </div>

        <p class="footer">
            <em>Lightning</em>Make music on Linux lightning fast!<br />
            v<span class="version" id="version">X.X</span>
            rev<span class="revision" id="revision">xxx</span>
        </p>

    </div>
    <!-- end #content -->

</div>
