html {
    min-height: 100vh;
    background: #98e4f4;
    background: -moz-linear-gradient(top,  #98e4f4 0%, #17aaed 100%);
    background: -webkit-gradient(linear, left top, left bottom,
    			 color-stop(0%,#98e4f4),
    			 color-stop(100%,#17aaed));
    background: -webkit-linear-gradient(top,  #98e4f4 0%,#17aaed 100%);
    background: -o-linear-gradient(top,  #98e4f4 0%,#17aaed 100%);
    background: -ms-linear-gradient(top,  #98e4f4 0%,#17aaed 100%);
    background: linear-gradient(to bottom,  #98e4f4 0%,#17aaed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#98e4f4', endColorstr='#17aaed',GradientType=0 );
}

#app {
    min-height: 100vh;
    background: transparent url(../img/starburst.svg) left top;
    background-size: 100% 100%;
    overflow: hidden;
}

#app::before {
    content: " ";
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left: -452px;
    z-index: -9;
    width: 462px;
    height: 478px;
    background: transparent url(../img/lightning.png)
    left top no-repeat;
}
#app::after {
    content: " ";
    position: absolute;
    top: 3%;
    right: 0;
    z-index: -9;
    width: 282px;
    height: 449px;
    background: transparent url(../img/lightning.png)
    right top no-repeat;
}

/*
* Adjust the width value below to change the page size.
* Every element below should respond accordingly.
*/
.content {
    width: 80%;
    min-width: 960px;
    margin: 0 auto;
}

#sequencer-input {
    background-color: #fe9900;
}

h1 {
    text-indent: -10000px;
    height: .001em;
}

.samples {
    margin: 3px auto 0 auto;
    width: 100%;
    height: 45px;
}

.reverse, .forward {
    height: 45px;
    width: 10%;
    min-width: 67px;
    cursor: pointer;
    background: transparent url(../img/arrow.png) left top no-repeat;
    position: relative;
    float: left;
}

.forward {
    float: right;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#sample-triggers {
    width: 79%;
    min-width: 800px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 5px;
    height: 45px;
    text-align: center;
    font-weight: bold;
}

/* ******** SAMPLES START ******** */
.sampleList {
    width: auto;
    height: 45px;
    display: inline-block;
}
.liveSample {
    height: 47px;
    width: 41px;
    position: absolute;
    display: inline-block;
    background: transparent url(../img/sampleSprite.png) 0px top no-repeat;
    z-index: 9;
}
.sampleList li {
    height: 47px;
    width: 41px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 3px;
    background: transparent url(../img/sampleSprite.png) 0px top no-repeat;
    cursor: pointer;
}
.violin {background-position: 0px top !important;}
.cat {background-position: -48px top !important;}
.cow {background-position: -96px top !important;}
.guitar {background-position: -145px top !important;}
.gong {background-position: -193px top !important;}
.duck {background-position: -242px top !important;}
.drum {background-position: -294px top !important;}
.triangle {background-position: -342px top !important;}
.dog {background-position: -390px top !important;}
.pig {background-position: -438px top !important;}
.sheep {background-position: -488px top !important;}
.piano {background-position: -536px top !important;}
.crow {background-position: -586px top !important;}
.beep {background-position: -634px top !important;}
.mouthHarp {background-position: -682px top !important;}
.squeek {background-position: -734px top !important;}
/* ******** SAMPLES END ******** */

.stage {
    width: 100%;
    height: 366px;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    margin: 0 auto;
    display: block;
}

/*
* Due to the way the canvas overflow is handled, the drop shadow
* cannot be on the canvas element otherwise it has abrupt edges.
* Instead assigning the drop shadow to a pseudo class.
*/
.stage::after {
    content: " ";
    display: block;
    width: 100%;
    height: 330px;
    margin: -380px auto 0 auto;
    z-index: -1;
    background: rgba(0,0,0,0.25);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
}
.stage::before {
    content: " ";
    background: transparent url(../img/cleff.png) left center no-repeat;
    display: block;
    position: absolute;
    height: 330px;
    width: 102px;
    z-index: 2;
}

.staff {
    height: 330px;
    background-color: #fe9900;
}

.cursor {
    height: 330px;
    width: 10px;
    background: transparent url(../img/cursor.png) top left repeat-y;
    display: block;
    position: absolute;
    z-index: 9;
    margin-left: 110px;
}

#measure001 {
    margin-left: 110px;
}

.measure {
    position: relative;
    float: left;
    z-index: 9;
}
/* Uncomment the following lines to visually see the beats on the sequencer */
/*
.beat-1, .beat-2, .beat-3, .beat-4 {
    opacity: .25;
}
.beat-1{background: red;}
.beat-2{background: blue;}
.beat-3{background: green;}
.beat-4{background: black;}
*/

.measure > div {
    width: 50px;
    height: 330px;
    position: relative;
    float: left;
    z-index: 9;
}

.controls {
    width: 100%;
    height: 35px;
    margin: 10px auto;
    clear: both;
}

.mediaControls, .timingControls {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.mediaControls::after {
    content: " ";
    display: block;
    height: 35px;
    width: 290px;
    border-radius: 17px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
}

.play, .stop, .loop, .erase {
    position: relative;
    float: left;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

.play {
    width: 95px;
    background: transparent url(../img/mediaControls.png) 0px top no-repeat;
}
.play.toggle { background-position: 0px bottom; }

.stop {
    width: 93px;
    background: transparent url(../img/mediaControls.png) -93px top no-repeat;
}
.stop.toggle { background-position: -93px bottom; }

.loop {
    width: 102px;
    background: transparent url(../img/mediaControls.png) -188px top no-repeat;
}
.loop.toggle { background-position: -188px bottom; }

.erase {
    width: 109px;
    position: relative;
    float: right;
    margin-right: 40px;
    background: transparent url(../img/buttonSprite.png)
    0px top no-repeat;
}
.delMode * {
    cursor: cell !important;
}

.timeSignature {
    height: 100%;
    width: 96px;
    position: relative;
    float: right;
    margin-right: 15px;
}

.threeFourImg, .fourFourImg {
    height: 100%;
    position: relative;
    float: left;
    background: transparent url(../img/buttonSprite.png) -227px top no-repeat;
}

.threeFourImg {
    width: 57px;
}
.threeFourImg.toggle { background-position: -226px bottom;}

.fourFourImg {
    width: 61px;
    margin-left: -23px;
    background-position: -284px top;
}



#timeSignature.btnShadow { cursor: default; }
.three-four div, .four-four div {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.three-four, .four-four {
    height: 35px;
    width: 57px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: -35px;
}
.four-four {
    width: 61px;
    margin-left: 35px;
}
.three-four > div {
    margin-left: -10px;
    -webkit-transform: skew(30deg);
       -moz-transform: skew(30deg);
         -o-transform: skew(30deg);
}
.four-four > div {
    margin-left: 10px;
    -webkit-transform: skew(30deg);
       -moz-transform: skew(30deg);
         -o-transform: skew(30deg);
}





.fourFourImg.toggle { background-position: -284px bottom;}

.btnShadow, button {
    border: 0;
    cursor: pointer;
    display: block;
    border-radius: 17px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
}

.bpm {
    width: 369px;
    height: 100%;
    background: #f64801;
    position: relative;
    float: right;
}

.bottom {
    width: 100%;
    height: 350px;
    margin: 20px auto 0 auto;
    background: url(../img/lightningBug.png) 660px bottom no-repeat;
}

.saveBox {
    width: 50%;
    float: left;
    height: 293px;
    background: transparent url(../img/saveBox.png) left top no-repeat;
}

.footer {
    color: #0b5678;
    display: block;
    position: relative;
    margin: 30px auto 10px auto;
    width: 960px;
    text-align: center;
}

.files {
    font-size: .8em;
    position: relative;
    float: left;
    height: 189px;
    width: 254px;
    color: #4b1c15;
    overflow: auto;
    border-radius: 14px;
    border: 1px solid #4b1c15;
    background: #fe9900;
    margin: 31px 0 0 33px;
}

.files ul { margin: -20px; }

.files li {
    height: 1.2em;
    padding-left: 5px;
    padding-top: 2px;
    display: block;
    margin: 2px 0;
}

li.selected {
    background: #ff7000;
}

.saveButtons {
    height: 196px;
    width: 125px;
    position: relative;
    float: left;
    margin: 26px 0 0 2px;
}

.save, .saveAs, .delete {
    text-indent: -10000px;
    overflow: hidden;
    height: 35px;
    width: 118px;
    background: transparent url(../img/buttonSprite.png)
    -109px top no-repeat;
}

.saveAs {
    height: 31px;
    width: 100px;
    background-position: -345px top;
    position: relative;
    margin: 20px auto 0 auto;
}

.delete {
    height: 31px;
    width: 101px;
    background-position: -522px top;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
}

.newSong {
    width: 254px;
    height: 36px;
    display: block;
    position: relative;
    float: left;
    margin: 5px 0 0 33px;
}

.songName {
    display: block;
    position: relative;
    float: left;
    font-size: 1em;
    padding: 0 10px;
    height: 36px;
    width: 148px;
    border-radius: 18px;
    background: #fe9900;
    border: 0;
}

.new {
    width: 77px;
    height: 31px;
    display: block;
    position: relative;
    float: right;
    border: 0;
    margin-top: 2px;
    background: transparent url(../img/buttonSprite.png)
    -445px top no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}

.footer em {
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
}

#mouse-sample {
    height: 47px;
    width: 41px;
    position: fixed;
    left: -50px;
    bottom: -50px;
    background: transparent url(../img/sampleSprite.png)
    0px top no-repeat;
    display: none;
    z-index: 9;
}

.addMeasure {
    height: 100%;
    width: 50px;
    float: right;
    background: rgba(255,255,255,.25);
    cursor: pointer;
}
.addMeasure:hover {
    background: rgba(255,255,255,.5);
}

.addMeasure span {
    height: 38px;
    width: 38px;
    background: transparent url(../img/plus.png) left top no-repeat;
    display: block;
    margin-left: 6px;
    opacity: .5;
    margin-top: 139px;
}

.addMeasure:hover span {
    opacity: 1;
}

.leger-line, .staff-line {
    height: 2px;
    background-color: #812600;
    width: 100%;
    display: block;
    position: relative;
    margin: 31px 0;
}

.leger-line {
    opacity: .5;
}

.staff-lines {
    position: absolute;
}
.helpText {
    height: 14px;
    width: 300px;
    padding: 10px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: rgba(0,0,0,0.6);
    z-index: 999;
    border-radius: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}




.devMode {
    display: inline-block;
    height: 100%;
    width: 235px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    z-index: 99;
    color: #02FF05;
    font-family: monospace, monospace;
    font-size: 12px;
    overflow-y: auto;
}
.hide {
    display: none !important;
}
.displayBlock {
    display: block !important;
}
