.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 9999999;
    position: fixed;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 400px;

    overflow: hidden;
}
/*.pace::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    border: 1px solid blue;
    height: 60px;
    width: 10px;
    z-index: 999999;
}*/

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 300px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: transparent url(../img/glow.svg) -20px 20px no-repeat;;
}

.pace .pace-progress::after {
    content: " ";
    display: block;
    height: 100px;
    width: 100px;
    background: transparent url(../img/flying-bug.png) 50% no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -90px;
}

.pace.pace-inactive {
    display: none;
}
